.App-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2vmin;
  color: #FD4D02;
}

.App-link {
  color: #5CC8FF;
}

.App {
  background-color: #F5F0F6;
  min-height: 100vh;
}

a:hover {
  color: #FD4D02
}
